
body, #root {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/static/Montserrat-Black.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/static/Montserrat-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/static/Montserrat-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/static/Montserrat-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/static/Montserrat-ExtraBold.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/static/Montserrat-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
